---
bg: "bgs/about.jpg"
layout: about
title: "About"
crawlertitle: "About me"
permalink: /about/
summary: "About this blog"
active: about
icon: "fa-user-alt"
---

<div class="text-block">
    Who am I?
</div>

    

{% include about_cards/card1.html %}
<!-- Make sure to always use text-block in the about page, this is not a simple sidebar pages due to the headers-->
<div class="text-block">
My interests and hobbies!
</div>

{% include about_cards/card2.html %}

<div class="text-block">
    <h4 class="mdc-typography--headline5"> Cool project #1 </h4>

    My cool project
    <h4 class="mdc-typography--headline5"> Cool project #2 </h4>

    An even better one!
    
</div>


