---
bg: "bgs/about.jpg"
layout: home
title: "About"
crawlertitle: "About me"
permalink: /about/
summary: "About this blog"
active: about
icon: "fa-user-alt"
---
{% include personal_info.html %}

<div class="posts-list">

Who am i?
    
</div>

{% include about_cards/card1.html %}

<div class="text-block">
My interests and hobbies!
</div>

{% include about_cards/card2.html %}

<div class="text-block">
    <h4 class="mdc-typography--headline5"> Cool project #1 </h4>

    My cool project
    <h4 class="mdc-typography--headline5"> Cool project #2 </h4>

    An even better one!
    
</div>
