<div class="personal-info">
    <div class="personal-info-container">
        <h2 class="name mdc-typography--headline4">{{ site.name }}</h2>
        <subtitle class="mdc-typography--subtitle2">Astronaut</subtitle>
        <p class="mdc-typography--body2">I like flying in space</p>
        <div class="brand-icon">
            <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i> </a>
        </div>
        <div class="brand-icon">
            <a href="example.com"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="brand-icon">
            <a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i> </a>
        </div>

        <div class="desktop-footer">
            Like what you see? <a href="https://github.com/BrozzSama/modern-material">Use it yourself!</a>
        </div>
    </div>

</div>